visit/visit.wsdl

<!DOCTYPE definitions [
        <!ELEMENT definitions (types|message|portType|binding|service)*>
        <!ATTLIST definitions
                xmlns CDATA #REQUIRED
                xmlns:soap CDATA #REQUIRED
                xmlns:tns CDATA #REQUIRED
                xmlns:xsd CDATA #REQUIRED
                targetNamespace CDATA #REQUIRED
                name CDATA #REQUIRED>
        <!ELEMENT types (xsd:schema)*>
        <!ELEMENT xsd:schema (xsd:element)*>
        <!ATTLIST xsd:schema
                targetNamespace CDATA #REQUIRED>
        <!ELEMENT xsd:element (xsd:complexType)*>
        <!ATTLIST xsd:element
                name CDATA #REQUIRED
                type CDATA #IMPLIED>
        <!ELEMENT xsd:complexType (xsd:sequence)*>
        <!ELEMENT xsd:sequence (xsd:element)*>
        <!ELEMENT message (part)*>
        <!ATTLIST message
                name CDATA #REQUIRED>
        <!ELEMENT part (#PCDATA)>
        <!ATTLIST part
                element CDATA #REQUIRED
                name CDATA #REQUIRED>
        <!ELEMENT portType (operation)*>
        <!ATTLIST portType
                name CDATA #REQUIRED>
        <!ELEMENT operation (input|output|soap:operation)*>
        <!ATTLIST operation
                name CDATA #REQUIRED>
        <!ELEMENT input (soap:body)*>
        <!ATTLIST input
                message CDATA #IMPLIED>
        <!ELEMENT output (soap:body)*>
        <!ATTLIST output
                message CDATA #IMPLIED>
        <!ELEMENT binding (soap:binding|operation)*>
        <!ATTLIST binding
                name CDATA #REQUIRED
                type CDATA #REQUIRED>
        <!ELEMENT soap:binding (#PCDATA)>
        <!ATTLIST soap:binding
                style CDATA #REQUIRED
                transport CDATA #REQUIRED>
        <!ELEMENT soap:operation (#PCDATA)>
        <!ATTLIST soap:operation
                soapAction CDATA #REQUIRED>
        <!ELEMENT soap:body (#PCDATA)>
        <!ATTLIST soap:body
                use CDATA #REQUIRED>
        <!ELEMENT service (port)*>
        <!ATTLIST service
                name CDATA #REQUIRED>
        <!ELEMENT port (soap:address)*>
        <!ATTLIST port
                name CDATA #REQUIRED
                binding CDATA #REQUIRED>
        <!ELEMENT soap:address (#PCDATA)>
        <!ATTLIST soap:address
                location CDATA #REQUIRED>
        ]>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/visit"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/visit"
             name="VisitBookingService">

    <types>
        <xsd:schema targetNamespace="http://example.com/visit">
            <xsd:element name="BookVisitRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingId" type="xsd:string" />
                        <xsd:element name="requestData" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="BookVisitResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string" />
                        <xsd:element name="message" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="BookVisitRequestMessage">
        <part name="parameters" element="tns:BookVisitRequest" />
    </message>

    <message name="BookVisitResponseMessage">
        <part name="parameters" element="tns:BookVisitResponse" />
    </message>

    <portType name="VisitBookingPortType">
        <operation name="BookVisit">
            <input message="tns:BookVisitRequestMessage" />
            <output message="tns:BookVisitResponseMessage" />
        </operation>
    </portType>

    <binding name="VisitBookingSoapBinding" type="tns:VisitBookingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="BookVisit">
            <soap:operation soapAction="http://example.com/visit/BookVisit" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <service name="VisitBookingService">
        <port name="VisitBookingSoapPort" binding="tns:VisitBookingSoapBinding">
            <soap:address location="http://localhost:8080/VisitBookingService" />
        </port>
    </service>
</definitions>
